<h3>Employee Data</h3>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Department</th>
        <th>Position</th>
        <th>Salary</th>
        <th>Email</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      @for (emp of employeeList; track emp.id) {
        <tr>
          <!-- <td>{{$index+1}}</td> -->
          <td>{{emp.id}}</td>
          <td>{{emp.name}}</td>
          <td>{{emp.department}} </td>
          <td>{{emp.position}}</td>
          <td>{{emp.salary}}</td>
          <td>{{emp.email}}</td>
          <td><button  type="button" class="btn btn-primary"(click)="deleteItem(emp.id)">Delete</button></td>
        </tr>
      }
    </tbody>
  </table>